@import "tailwindcss";
@plugin "daisyui" {
  themes:
    bumblebee --default,
    dark --prefersdark;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.section-title {
  font-size: var(--text-4xl);
  line-height: var(--tw-leading, var(--text-4xl--line-heigh));
  font-weight: var(--font-weight-bold);
  margin-bottom: 24px;  
}
.section-subtitle {
  margin-bottom:  48px;
  font-size: var(--text-lg);
  line-height: var(--tw-leading, var(--tet-lg--line-height))
}

.mask-diagonal {
  mask-image: linear-gradient(235deg, black 20%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}
.clip-diagonal {
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}